.button-base {
    font-size: 1.2rem;
    background-color: transparent;
    cursor: pointer;
}

.button-base--main-theme {
    background-color: rgba(1, 77, 51, .85);
    color: rgb(208, 219, 215);
}