.detail-page__container {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.detail-page__container h2 {
    text-align: center;
    margin: 16px 0;
}

.detail-page__container p {
    padding: 0 120px;
}

.detail-page__image-container {
    height: 400px;
    width: 100%;
    margin-bottom: 16px;
    text-align: center;
}

.detail-page__image-container img {
    height: 100%;
    object-fit: cover;
}