.basket {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    background-color: rgba(155,220,152, 0.8);
}

.basket--empty {
    padding-top: 24px;
    max-width: 1200px;
    height: 100%;
    margin: auto;
    text-align: center;
}

.basket-item {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 16px;
}

/* .article-item__image {
    height: 100%;
    min-width: 35%;
    max-width: 35%;
} */

.basket-item img {
    height: 100%;
    min-width: 15%;
    max-width: 15%;
    /* width: 100%;
    height: 100%; */
    object-fit: cover;
}

.basket-item input[type=number]::-webkit-inner-spin-button, 
.basket-item input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  /* margin: 0;  */
}
/* 
.shop__list {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.shop__sidebar {
    max-width: 250px;
    width: 15%;
    height: 100%;
    background-color: rgba(193, 236, 74, 0.8);
    padding-left: 16px;
}

.shop__sidebar ul {
    list-style: none;
}

.shop__sidebar a {
    color: black;
}

.shop__first-level-list li {
    margin-bottom: 12px;
}

.shop__second-level-list {
    margin-left: 16px;
}

.shop__second-level-list li{
    margin-bottom: 8px;
} */