.article-item {
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 10px 0
}

.article-item__image {
    height: 100%;
    min-width: 35%;
    max-width: 35%;
}

.article-item__image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.article-item__description {
    position: relative;
    margin-left: 20px;
}

.article-item__description h3 {
    margin: 15px 0;
}

.article-item__read-more-button {
    position: absolute;
    bottom: 20px;
    width: 150px;
    height: 40px;
    color: rgb(1, 77, 51);
    font-size: 1.2rem;
    background-color: transparent;
    border: 1px solid rgb(1, 77, 51);
} 
